#DB
mysql-connector-python
PyMySQL
SQLAlchemy

#AWS
boto3
botocore

#Unittest
pytest
pytest-mock
python-dotenv

#GCP
google-cloud-documentai
google-generativeai

#Application-logic
beautifulsoup4
pyyaml
pandas