# -- Database connection details --
database:
    source:
        dialect: "mysql"
        driver: "mysqlconnector"
        host: "juris-data.crkmq80swpic.ap-southeast-2.rds.amazonaws.com"
        port: "3306"
        name: "legal_source"

    destination:
        dialect: "mysql"
        driver: "mysqlconnector"
        host: "juris-data.crkmq80swpic.ap-southeast-2.rds.amazonaws.com"
        port: "3306"
        name: "legal_store"

# -- AWS connection details --
aws:
    default_region: "ap-southeast-2"
    s3:
        bucket_name: "legal-store"

# List of tables to be read by the connector
tables:
  tables_to_read:
    - database: legal_source
      s3_folder: "legislation/nt/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_nt"
      jurisdiction: 'NT'
    - database: legal_source
      s3_folder: "legislation/tas/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_tas"
      jurisdiction: 'TAS'
    - database: legal_source
      s3_folder: "legislation/vic/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_vic"
      jurisdiction: 'VIC'
    - database: legal_source
      s3_folder: "legislation/nsw/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_nsw"
      jurisdiction: 'NSW'
    - database: legal_source
      s3_folder: "legislation/wa/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_wa"
      jurisdiction: 'WA'
    - database: legal_source
      s3_folder: "legislation/sa/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_sa"
      jurisdiction: 'SA'
    - database: legal_source
      s3_folder: "legislation/qld/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_qld"
      jurisdiction: 'QLD'
    - database: legal_source
      s3_folder: "legislation/act/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_act"
      jurisdiction: 'ACT'
    - database: legal_source
      s3_folder: "legislation/commonwealth/"
      audit_job_name: "ai_enrichment_service_legislation_juriscontent_commonwealth"
      jurisdiction: 'FED'
  tables_to_write:
    - database: legal_store
      table: legislation_enrichment_status
      step_columns:
        text_extract:
          status: "status_juriscontent_html"
          duration: "duration_juriscontent_html"
          start_time: "start_time_juriscontent_html"
          end_time: "end_time_juriscontent_html"
  audit_log_table:
    - database: legal_store
      table: audit_log
      job_name: "legislation juriscontent generation"

# -- File naming conventions for the enrichment service --
enrichment_filenames:
  source_html: "miniviewer.html"
  extracted_html: "juriscontent.html"

# -- Audit log configuration --
audit_log:
  text_extraction_job:
    database: "legal_store"
    table: "audit_log"
    job_name: "legislation juriscontent generation"

# -- Path to the new heading inference rules --
headless_rules_path: "config/headless_rules.yaml"

# -- Path to the heading hierarchy rules --
heading_hierarchy_rules_path: "config/heading_hierarchy_rules.yaml"

# -- Registry details
tables_registry:
    database: "legal_store"
    table: "legislation_registry"
    year_column: "year"
    download_status_column: "status_content_download" 
    processing_years: []
    jurisdiction_codes: []